<p id="notice"><%= notice %></p>

<h1>Inventions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventions.each do |invention| %>
      <tr>
        <td><%= link_to 'Show', invention %></td>
        <td><%= link_to 'Edit', edit_invention_path(invention) %></td>
        <td><%= link_to 'Destroy', invention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invention', new_invention_path %>
